aiodns==3.0.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.5.0
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
Beaker==1.12.1
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
blivet==3.7.1
blivet-gui==2.4.1
block-distortion==1.0.1
Bottleneck==1.3.7
Brlapi==0.8.4
Brotli==1.0.9
buildozer==1.5.1.dev0
cachetools==5.3.0
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.3
colorama==0.4.6
contourpy==1.0.7
cryptography==37.0.2
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.35
dasbus==1.7
dbus-python==1.3.2
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
distro==1.8.0
docutils==0.20.1
entrypoints==0.3
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.3
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.12.0
fonttools==4.39.3
fqdn==1.5.1
fros==1.1
frozenlist==1.3.3
fs==2.4.16
fsspec==2023.5.0
gcsfs==2022.11.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-cloud-core==2.3.2
google-cloud-storage==2.8.0
google-crc32c==1.1.2
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
gpg==1.17.1
greenlet==1.1.3
grpcio==1.48.4
grpcio-status==1.48.4
html5lib==1.1
httplib2==0.22.0
huggingface-hub==0.14.1
humanize==3.13.1
idna==3.4
imageio==2.28.1
importlib-metadata==6.6.0
ipykernel==6.17.1
ipython==8.9.0
ipython-genutils==0.2.0
isoduration==20.11.0
jdcal==1.4.1
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.14
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter_client==7.4.9
jupyter_core==5.1.0
jupyter_server==2.1.0
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.2.2
Kivy==2.2.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
langtable==0.0.62
lazy_loader==0.2
libcomps==0.1.18
lit==16.0.5
lxml==4.9.2
Mako==1.2.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mpmath==1.3.0
multidict==6.0.4
munkres==1.1.2
mypy-extensions==1.0.0
nbclassic==0.5.6
nbclient==0.7.2
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
nftables==0.1
notebook==6.5.3
notebook_shim==0.2.3
numexpr==2.8.4
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.1
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.10
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
Paste==3.5.2
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
Pillow==9.4.0
platformdirs==3.5.1
ply==3.11
productmd==1.35
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.19.6
psutil==5.9.5
psycopg2==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycares==4.3.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.2
pydeck==0.8.1b0
pyenchant==3.2.2
Pygments==2.15.1
PyGObject==3.44.1
pykickstart==3.47
Pympler==1.0.1
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyre-extensions==0.0.29
pyrsistent==0.19.3
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-json-logger==2.0.7
python-meh==0.51
python-snappy==0.6.1
pytube==15.0.0
pytz==2023.3
pyudev==0.24.0
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==6.0
pyzmq==25.0.2
QtPy==2.3.1
regex==2022.10.31
reqs==0.0.2
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rpm==4.18.1
rsa==4.8
scikit-image==0.20.0
scikit-learn==1.2.2
SciPy==1.8.1
scour==0.38.2
seaborn==0.12.2
selinux==3.5
Send2Trash==1.8.2
sepolicy==3.5
setools==4.4.2
sh==2.0.4
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git@e4c7644bf5e4917107b31b353cabfdaae906429f
sos==4.5.1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
stack-data==0.6.2
streamlit==1.22.0
sympy==1.12
systemd-python==235
tables==3.7.0
tabulate==0.9.0
Tempita==0.5.2
tenacity==8.2.2
terminado==0.17.1
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.29.2
triton==2.0.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.5.0
tzlocal==5.0.1
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.12
validators==0.20.0
virtualenv==20.23.0
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
xarray==2023.4.2
xformers==0.0.20
xlrd==2.0.1
XlsxWriter==3.1.0
xlwt==1.3.0
yarl==1.8.2
zipp==3.15.0
zstandard==0.19.0
